*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
@mixin flexbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center
}
#header{
    @include flexbox;
    height:90px;
    background-color: map-get($colors, primary );
    h2{
        font-size: 15px;
        font-family: 'DynaPuff', cursive;
        padding: 10px;
        font-weight: bold;
    }
    p{
        font-size:15px;
        font-family: 'Work Sans', sans-serif;
        color: map-get($colors, letra );
    }   
}
@media screen and (min-width:768px){
    #header{
     height: 80px;
     h2{
        font-size: 25px;
     }
     p{
        font-size: 15px;
     }
    }
 }
 @media screen and (min-width:1200px){
    #header{
        height: 150px;
        h2{
            font-size: 45px;
        }
        p{
            font-size:25px;
        }
    }
}
#hero{
    @include flexbox;
    height: 80vh;
    color:map-get($colors, primary );
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.786),
        rgba(0,0,0,0.5)
    )  
    ,url('../img/programacionnnnnn.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    h2{
        color:map-get($colors, primary );
        font-weight: bold;
        font-size: 55px;
    }
    button{
        font-size: 1.75em ;
        background-color:map-get($colors, botones );
        border-radius: 3em;
        font-size: 30px;  
    }
}
@media screen and (min-width:360px) and (max-width:750px){
    #hero{
        @include flexbox;
        height: 60vh;
        h2{
            color:map-get($colors, primary );
            font-weight: bold;
            font-size: 20px;
        }
        button{
            font-size: 16px;       
        }
    }
}
@media screen and (min-width:768px) and (max-width:1050px){
    #hero{
        height: 70vh;
        h{
            font-size: 30px;
        }
        button{
            font-size: 25px;      
        }
    }
}