#seccion-productos{
    background-color:rgb(216, 209, 209);
    font-weight: bold;
    color:$color-letra;
   
}
@mixin flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width:768px){
    .container{
       @include flexbox;
        flex-wrap: wrap;
    }
}
.titulo{
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin:30px;
    font-size: 30px;
}
.container-flexbox{
    width: 100%;
    @include flexbox;
   background-image: url('../img/fondo\ catalogo.webp');
   background-repeat: no-repeat;
   background-position: left bottom;
   
}
.caja{
    margin: 15px;
    overflow: hidden;
    background: $color-segundario;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    border-radius: 30px;
    img{
        width: 300px;
        height: 300px;
        border-radius: 30px;
        object-fit: fill;
      
    }
    p{
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        padding-top: 12px;
    }
    &:hover{
        box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
        transform: translateY(-3%);
} 

}


