
$color-primary:#d8cef2;
$color-letra:#0F0A0A;
$color-fondo :#4A8FE7;
$color-segundario:#fff;
$color-botones:#2fb4cc;
$color-terciario:white;
$fondo-footer:gray;

$colors : (
    primary:#d8cef2,
    letra:#0F0A0A,
    fondo :#4A8FE7,
    segundario:#fff,
    botones:#2fb4cc,
   terciario:white,
   footer:gray,
);
